.button {
    background-color: $colblue;
    color: $colblack;
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 9em;
    height: 2em;
    border-radius: 0.3em;
    align-self: flex-start;
}

.button:hover {
    background-color: $colred;
    color: $colwhite;
}

.button__link:hover {
    color: $colwhite;
}

.button__link:link {
    color: $colblack;
    text-decoration: none;;
}

.button__link:visited {
    color: $colblack;
    text-decoration: none;
}