.button {
    background-color: $colblue;
    color: $colblack;
    width: 9em;
    height: 3em;
    border-radius: 0.3em;
    border-style: none;
}

.button:hover {
    background-color: $colred;
    color: $colwhite;
}

.button__link {
    font-size: $fontsizeXL;
}

.button__link:hover {
    background-color: $colwhite;
    color: $colred;
}

.button__link:link {
    color: $colblack;
    text-decoration: none;;
}

.button__link:visited {
    color: $colblack;
    text-decoration: none;
}