.cart__products {
    max-width: calc(#{$maxwidth} + 2 * #{$spacingS}); 
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: $spacingL;
}

.cart__product {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 800px)
    {
        flex-direction: row;
    }

    padding-right: $spacingS;
    padding-left: $spacingS;
    padding-bottom: $spacingM;
}

.cart__product__content {
    display: flex;
    flex-direction: column;
}