
$gutter: 12px;
$ffh: 'Oswald', 'Verdana', serif;
$ffmain: 'Open Sans', 'Helvetica', arial, serif;
$headcolor: #ff5000;
$footcolor: #00b7ff;
$colwhite: #fffcf2;
$colblack: #000000;

$grid-col: calc(100%/12);

.html {
    max-width: 1200px; 
    font-size: 16px;
}


// TODO stillingar hér
