
$gutter: 20px;
$spacingS: calc(#{$gutter} / 2);
$spacingM: calc(#{$gutter});
$spacingL: calc(#{$gutter} * 2);
$spacingXL: calc(#{$gutter} * 4);

$maxwidth: 1200px;
$ffh: 'Oswald', 'Verdana', serif;
$ffmain: 'Open Sans', 'Helvetica', arial, serif;
$colred: #ff5000;
$colblue: #00b7ff;
$colwhite: #fffcf2;
$colblack: #000000;

$fontsizeXS: 0.75rem;
$fontsizeS: 0.875rem;
$fontsizeM: 1rem;
$fontsizeL: 1.125rem;
$fontsizeXL: calc(21rem/16);
$fontsizeXXL: 1.5rem;
$fontsizeH: 2.25rem;
$fontsizeXH: 3rem;
$fontsizeXXH: 3.75rem;

$grid-col: calc(100%/12);

.html {
    font-size: 16px;
}


// TODO stillingar hér
