

.course_image{
    width: 100%;
    padding-top: $gutter;
}

.course_body{
    margin: 0px $gutter;
    font-size: $fontsizeM;
    font-family: $ffmain;
}

.course_button{
    background-color:$colblue;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px ;
    height: 30px;
    border-radius: 5px;
}

.course_button:hover{
    background-color: $colred;
    color: white;
    transition: 0.2s ease-in-out;
}

.course_header{
    margin-top:$gutter;
    margin-bottom: $gutter;
    font-size: $fontsizeXL;
}

fieldset{
    border: 0px;
    margin-bottom: $gutter;
}

fieldset> legend{
    font-weight: bold;
    font-size: $fontsizeXL;
    padding-bottom: 0.5em;
}



@media (min-width: 800px){
    .course_wrapper {
        margin-left: (300px);
    }
    
    .course_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: 60px 250px;
        column-gap: 10vw;
        margin: $gutter;
        padding-bottom: $gutter;
    }
    
    .course_header{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .course_text{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .course_image{
        grid-column-start: 2;
        grid-row-start: 1;
        max-height: 300px;
    }
}

@media (min-width: 1200px){
    .course_header{
        margin-left:100px;
    }
    .course_text{
        margin-left:100px;
    }
}
