.course__wrapper {
    max-width: calc(#{$maxwidth} + 2 * #{$spacingS}); 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacingM;

    @media (min-width: 800px){
        flex-direction: row;
    }
}

.course__content{
    width: 100%;
    padding: $spacingM $spacingS;

    @media (min-width: 800px){
        width: 50%;
    }
}

.course__image{
    width: 100%;
}

.course__header{
    margin-bottom: $spacingM;
    font-size: $fontsizeH;
}

.course__text{
    font-size: $fontsizeXXL;
}

.course__button{
    background-color:$colblue;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px ;
    height: 30px;
    border-radius: 5px;
}

.course__button:hover{
    background-color: $colred;
    color: $colwhite;
    transition: 0.2s ease-in-out;
}