
.footer{
    background-color: $colblue;
    width: 100%;
    font-family: $ffmain;
    display: flex;
    flex-direction: column;
    padding: $spacingS;
    align-items: center;
}

.footer__nav {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.footer__nav__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.footer__nav__col{
    padding: $spacingS;
    width: 50%;
}

.footer__nav__header{
    color: $colblack;
}

.footer__nav__item{
    color: $colwhite;
}

.footer__nav__item:hover {
    color: $colblack;
}

.footer__nav__items{
    list-style: none;
}

.footer__nav__item:link {
    text-decoration: none;
    color: $colwhite;
}

.footer__nav__item:visited {
    text-decoration: none;
    color: $colwhite;
}

.footer__footer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

 @media(min-width: 400px){
    .footer__nav__row{
        flex-direction: row;
    }
}

@media(min-width: 700px) {
    .footer{
        flex-direction: column;
    }

    .footer__nav__row{
        flex-direction: row;
    }

    .footer__nav {
        max-width: $maxwidth;
        flex-direction: row;
    }
}

