
$bgc: #00b7ff;
$ffh: 'Oswald', 'Verdana', serif;
$ffmain: 'Open Sans', 'Helvetica', arial, serif;

.footer{
    background-color: $bgc;
    width: 100%;
    font-family: $ffmain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.footer__nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1em;
}

.footer__nav__col{
    padding: 2em;
}

.footer__nav__header{
    color: #000000;
}

.footer__nav__item{
    color: #fffcf2;
}

.footer__nav__items{
    list-style: none;
}

.footer__footer{
    order:2;
}

