.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 $spacingS;
}

.form__label{
    font-size: $fontsizeXL;
    margin-right: $spacingS;
}

.form__input{
    flex-grow: 1;
    border-style: solid;
    border-color: $colblack;
    border-width: 1px;
    border-radius: 5px;
    font-size: $fontsizeXL;
    padding: 0.25rem;
}

.form__input--spacing-right{
    flex-grow: 1;
    border-style: solid;
    border-color: $colblack;
    border-width: 1px;
    border-radius: 5px;
    font-size: $fontsizeXL;
    margin-right: $spacingS;
    padding: 0.25rem;
}

.form__line{
    display: flex;
    padding: $spacingS 0;
}

.forms__wrapper{
    max-width: calc(#{$maxwidth} + 2 * #{$spacingS}); 
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: $spacingM;

    @media (min-width: 800px){
        flex-direction: row;
    }
}

.form__wrapper{
    display: flex;
    flex-direction: column;

    width: 100%;

    @media (min-width: 800px) {
        width: 50%;
    }

    padding-right: $spacingS;
    padding-left: $spacingS;
    padding-bottom: $spacingM;
}

fieldset{
    border: 0px;
    margin-bottom: $spacingM;
}

fieldset> legend{
    font-weight: bold;
    font-size: $fontsizeXL;
    padding-bottom: 0.5em;
}