.index__main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $ffmain;
    margin: 0 $spacingS;
    
}

.index__main__col{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: calc(#{$maxwidth} + 2 * #{$spacingS});
}

.index__main__row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.index__main__card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    height: auto; 
    padding-bottom: $spacingL;
}

.index__card__header{
    line-height: 3em;
    font-size: $fontsizeH;
}

.index__card__text {
    font-size: $fontsizeXXL;
    padding: $spacingL 0;
}

.index__main__img{
    width: 100%;
}

.button {
    align-self: flex-start;
    line-height: 3em;
    font-size: $fontsizeL;
    width: 60%;
}

@media(min-width: 700px){
    .index__main {
        margin: $spacingS;
    }

    .index__main__row {
        padding-bottom: $spacingL;
    }
    .index__main__card {
        width: 50%;
        padding: 0 $spacingS;
        }

    .img--first-flex-item {
        order: -1;
        padding-right: $spacingS;
    }

}

@media(min-width: 1000px){
    .index__main {
       align-items: center;
    }
}

