
.header{
    background-color: $colred;
    font-family: $ffh;
    padding-bottom: $spacingS;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.header__header{
    text-align: center;
    font-size: fontsizeXXH;     
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    max-width: $maxwidth;
}

.header__nav__items{
    display: flex;
    flex-wrap:wrap;
    font-family: $ffmain;
    font-size: $fontsizeL;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 $spacingS;
    padding: $spacingS 0;
    justify-content: center;    
}

.header__nav__items {
    flex: 2 1 auto;
}

.header__nav__item:link {
    color: $colblack;
    max-width: 50em;
    padding: 0 0.5em;
    text-decoration: none;
}

.header__nav__item:visited {
    color: $colblack;
    max-width: $maxwidth;
    text-decoration: none;
}

.header__nav__item:hover{
    color: $colwhite;
}

.header__nav__cart {
    display: flex;
    flex: 0 1 auto;
    align-self: center;
}

.header__cart__text {
    color: $colblack;
    font-weight: normal;
    text-decoration: none;
    padding-left: $spacingS;
}

.header__cart__text:hover {
    color: $colwhite;
}

.current {
    text-decoration: underline;
}

@media(min-width: 700px){
    .header__nav{
        flex-direction: column;   
    }

    .header__nav__cart {
        position: absolute;
        align-self: flex-end;
     
    }
    
    .header__cart__text {
        padding-right: 1rem;
    }
}