
.header{
    background-color: $headcolor;
    font-family: $ffh;
    padding-bottom: 1em;
}

.header__header{
    text-align: center;
    font-size: 3.75em;     
}

.header__nav__items{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-family: $ffmain;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 2em;    
}

.header__nav__item:link {
    color: $colblack;
    max-width: 50em;
    padding: 0 0.5em;
    text-decoration: none;
}

.header__nav__item:visited {
    color: $colblack;
    max-width: 50em;
    text-decoration: none;
}

.header__nav__item:hover{
    text-decoration: underline;
}

