.products-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 $spacingS;
}

.products {
    max-width: calc(#{$maxwidth} + 2 * #{$spacingS}); 
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: $spacingL;
}

.product {
    display: flex;
    flex-direction: column;

    width: 100%;

    @media (min-width: 800px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: calc(100% / 3);
    }

    padding-right: $spacingS;
    padding-left: $spacingS;
    padding-bottom: $spacingM;
}

.product__image{
    max-width: 100%;
}

.product__name{
    font-family: $ffmain;
    font-size: $fontsizeH;
    margin-bottom: $spacingS;
}

.product__description{
    font-family: $ffmain;
    font-size: $fontsizeM;
    flex: 1;
    margin-bottom: $spacingS;
}

.product__price{
    font-family: $ffmain;
    font-size: $fontsizeXXL;
    margin-bottom: $spacingM;
}

.product__buy-menu__label {
    font-family: $ffmain;
    font-size: $fontsizeS;
}

.product__buy-menu__interactive{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product__buy-menu__interactive__amount{
    border: 1px solid #000000;
    border-radius: 5px;
    flex-grow: 1;
    padding: 0em 0.5em;
    font-size: $fontsizeL;
    margin-right: $spacingS;
}

.product__buy-menu__interactive__button{
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    font-size: $fontsizeL;
}

.product__buy-menu__interactive__button--right-space{
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    font-size: $fontsizeL;
    margin-right: $spacingS;
}

.product__buy-menu__interactive__button:hover{
    background-color: $colblue;
    transition: 0.2s ease-in-out;
}

.cart-button-image{
    height: $fontsizeL;
    width: $fontsizeL;
    margin-right: 0.5em;
}

.cart__product__image-wrapper {
    padding: 0 $spacingS;
}

.cart__product__content {
    padding: 0 $spacingS;
    width: 100%;
}