.products-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products {
    max-width: calc($maxwidth + 2 * $basepadding); 
    
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
    padding-bottom: 2em;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
        width: 50%;
    }

    @media (min-width: 1150px) {
        width: calc(100% / 3);
    }

    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2em;
}

.product__image{
    max-width: 100%;
}

.product__name{
    font-family: $ffh;
    font-size: $fontsizeH;
}

.product__description{
    font-family: $ffmain;
    font-size: $fontsizeM;
}

.product__price{
    font-family: $ffh;
    font-size: $fontsizeXL
}

.product__buy-menu {

}

.product__buy-menu__label {
    font-family: $ffmain;
    font-size: $fontsizeXS;
}

.product__buy-menu__interactive{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product__buy-menu__interactive__amount-text-area{
    border: 2px solid #000000;
    border-radius: 5px;
    flex-grow: 1;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
}

.product__buy-menu__interactive__button{
    border: 2px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    margin: 0em 0.5em;
}

.product__buy-menu__interactive__button:hover{
    background-color: $colblue;
    transition: 0.2s ease-in-out;
}

.cart-button-image{
    height: 1em;
    width: 1em;
    margin-right: 0.5em;;
}

