
.staff__img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 1em 0;
    width: auto;
}

.staff__img__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 32em;
}

.staff__img__item {
    display: flex;
    position: absolute;
    margin: 10px;
    width: 100%;
    height: 100%;
    left:0; top:0; right: 0; bottom: 0;
    align-items: flex-start;
    justify-content: space-around;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-in-out;
}

.staff__img__item:hover {
    transform: rotateY(180deg);
}

.staff__img__front {
    position: absolute;
    padding-bottom: 2em;
    max-width: 90%;
    height: 100%;
    backface-visibility: hidden;
}

.staff__img__back {
    font-family: $ffmain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    background-color: $colwhite;
    height:100%;
    background: $colwhite;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.img__back__text {
    padding: 1em;
    align-self: center;
}



.staff__img__items:hover .staff__img__item {
    transition: rotateY(180deg);
}

@media(min-width: 700px){
    .staff__img{
        margin-left: -10px;
        margin-right: -10px;
    }
    .staff__img__items{
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .staff__img__front {
        padding-bottom: 2em;
    }

}

@media(min-width: 1000){
    

} 
