
.staff__img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 2em 0;
    width: 100%;
}

.staff__img__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50em;
    max-width: 100vh;
}

.staff__img__item {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0; top:0; right: 0; bottom: 0;
    align-items: flex-start;
    justify-content: space-around;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-in-out;
}

.staff__img__item:hover {
    transform: rotateY(180deg);
}

.staff__img__front {
    position: absolute;
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.staff__img__back {
    position: absolute;
    max-width: 100%;
    height:auto;
    background: $colwhite;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.staff__img__items:hover .staff__img__item {
    transition: rotateY(180deg);
}

@media(min-width: 700px){
    .staff__img{
        margin-left: -10px;
        margin-right: -10px;
    }
    .staff__img__items{
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .staff__img__item{
        padding: 5px;
    }

}

@media(min-width: 1000){
    

} 
