

.index__main__col{
    display: flex;
    flex-direction: column;
}

.index__main__row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    }

.index__main__img {
    width: 50%;
    padding: 1em;
}

.index__main__img {
    width: 50%;
}
