
$bgc: #ff5000;
$ffh: 'Oswald', 'Verdana', serif;
$ffmain: 'Open Sans', 'Helvetica', arial, serif;
$linkCol: #000000;

.header{
    background-color: $bgc;
    font-family: $ffh;
    padding-bottom: 1em; 
}

.header__header{
    text-align: center;
    font-size: 3.75em;
        
}

.header__nav__items{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    font-family: $ffh;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 25%;
    
}

.header__nav__item:link {
    color: $linkCol;
    max-width: 50em;
    padding: 0 2px;
    text-decoration: none;
}

.header__nav__item:visited {
    color: $linkCol;
    max-width: 50em;
    text-decoration: none;
}

.header__nav__item:hover{
    text-decoration: underline;
}