@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;


  // TODO fleiri grunn stillingar
}

@import 'scss/_button';

@import 'scss/_course';

@import 'scss/_header';

@import 'scss/_forsida';

@import 'scss/_footer';

@import 'scss/_staff';

@import 'scss/_product';

@import 'scss/forms';

@import 'scss/cart';

@import 'scss/main';

// TODO sækja allar sass skrár