.html {
  max-width: 1200px;
  font-size: 16px; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden; }

.course_forms {
  border: 0px;
  margin: 20px; }

.course_image {
  width: 100%;
  padding-top: 20px; }

.course_body {
  margin: 0px 20px; }

.course_button {
  background-color: #00b7ff;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150px;
  height: 30px;
  border-radius: 5px; }

.course_form_lines {
  display: flex;
  max-width: 50vw;
  justify-content: space-between; }

.course_header {
  margin-top: 20px;
  margin-bottom: 20px; }

@media (min-width: 800px) {
  .course_wrapper {
    margin-left: 300px; }
  .course_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: 40px 250px;
    column-gap: 10vw;
    margin: 20px;
    padding-bottom: 20px; }
  .course_header {
    grid-column-start: 1;
    grid-row-start: 1; }
  .course_text {
    grid-column-start: 1;
    grid-row-start: 2; }
  .course_image {
    grid-column-start: 2;
    grid-row-start: 1;
    max-height: 300px; }
  .course_forms_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 10vw;
    margin: 20px;
    margin-bottom: 20px; }
  .course_forms_wrapper1 {
    grid-column-start: 1;
    grid-row-start: 1; }
  .course_forms_wrapper2 {
    grid-column-start: 2;
    grid-row-start: 1; } }

@media (min-width: 800px) and (min-width: 1200px) {
  .course_header {
    margin-left: 100px; }
  .course_text {
    margin-left: 100px; }
  .course_forms_wrapper1 {
    margin-left: 100px; } }

.header {
  background-color: #ff5000;
  font-family: "Oswald", "Verdana", serif;
  padding-bottom: 1em; }

.header__header {
  text-align: center;
  font-size: 3.75em; }

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column; }

.header__nav__items {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", "Helvetica", arial, serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 2em;
  padding: 1em 0;
  justify-content: center; }

.header__nav__items {
  flex: 2 1 auto; }

.header__nav__item:link {
  color: #000000;
  max-width: 50em;
  padding: 0 0.5em;
  text-decoration: none; }

.header__nav__item:visited {
  color: #000000;
  max-width: 50em;
  text-decoration: none; }

.header__nav__item:hover {
  color: #fffcf2; }

.header__nav__cart {
  display: flex;
  flex: 0 1 auto;
  align-self: center; }

.header__cart__text {
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  padding-left: 0.3em; }

.header__cart__text:hover {
  color: #fffcf2; }

.current {
  text-decoration: underline; }

@media (min-width: 700px) {
  .header__nav {
    flex-direction: column; }
  .header__nav__cart {
    position: absolute;
    align-self: flex-end; }
  .header__cart__text {
    padding-right: 1em; } }

html {
  max-width: 1200px; }

.index__main {
  display: flex;
  align-items: center;
  font-family: "Open Sans", "Helvetica", arial, serif;
  margin: 0 2em;
  max-width: 75em; }

.index__main__col {
  display: flex;
  width: 100%;
  flex-direction: column; }

.index__main__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.index__main__text {
  padding-bottom: 2em;
  align-items: flex-start; }

.index__main__text h2 {
  line-height: 3em; }

.index__main__item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-bottom: 2em; }

.index__main__img {
  width: 100%; }

@media (min-width: 700px) {
  .index__main {
    margin: 2em; }
  .index__main__text {
    width: 50%; }
  .index__main__item {
    width: 50%; }
  .img--first-flex-item {
    order: -1;
    padding-right: 1em; } }

@media (min-width: 1000px) {
  .index__main {
    align-items: center; } }

.footer {
  background-color: #00b7ff;
  width: 100%;
  font-family: "Open Sans", "Helvetica", arial, serif;
  display: flex;
  flex-direction: column;
  padding: 1em; }

.footer__nav {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column; }

.footer__nav__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 1em;
  width: 100%; }

.footer__nav__col {
  padding: 2em 0em;
  width: 50%; }

.footer__nav__header {
  color: #000000; }

.footer__nav__item {
  color: #fffcf2; }

.footer__nav__item:hover {
  color: #000000; }

.footer__nav__items {
  list-style: none; }

.footer__nav__item:link {
  text-decoration: none;
  color: #fffcf2; }

.footer__nav__item:visited {
  text-decoration: none;
  color: #fffcf2; }

.footer__footer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column; }

@media (min-width: 700px) {
  .footer {
    flex-direction: column; } }

@media (min-width: 1000px) {
  .footer__nav {
    flex-direction: row; } }

.staff__img {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1em 0;
  width: auto; }

.staff__img__items {
  /*position: relative;*/
  display: flex;
  flex-wrap: wrap;
  height: 32em; }

.staff__img__item {
  display: flex;
  /*position: absolute;*/
  margin: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: flex-start;
  justify-content: space-around;
  transform-style: preserve-3d;
  transition: transform 0.2s ease-in-out; }

.staff__img__item:hover {
  transform: rotateY(180deg); }

.staff__img__front {
  position: absolute;
  padding-bottom: 2em;
  max-width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.staff__img__back {
  font-family: "Open Sans", "Helvetica", arial, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: #fffcf2;
  height: 100%;
  background: #fffcf2;
  transform: rotateY(180deg);
  backface-visibility: hidden; }

.img__back__text {
  padding: 1em;
  align-content: center; }

.staff__img__items:hover .staff__img__item {
  transition: rotateY(180deg); }

@media (min-width: 700px) {
  .staff__img {
    margin-left: -10px;
    margin-right: -10px;
    height: 75em; }
  .staff__img__items {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px; }
  .staff__img__front {
    padding-bottom: 2em; } }

@media (min-width: 1000) {
  .staff__img {
    height: 109em; } }

.button {
  background-color: #00b7ff;
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 9em;
  height: 2em;
  border-radius: 0.3em;
  align-self: flex-start; }

.button:hover {
  background-color: #ff5000;
  color: #fffcf2; }
