* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden; }

.header {
  background-color: #ff5000;
  font-family: "Oswald", serif;
  padding: 0.625em; }

.header h1 {
  text-align: center;
  font-size: 3.75em;
  padding-bottom: 0.5em; }

.header__items {
  display: flex;
  justify-content: space-around;
  font-family: "Verdana" serif;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0 25%; }

a:link {
  color: #000000;
  max-width: 50em;
  text-decoration: none; }

a:visited {
  color: #000000;
  max-width: 50em;
  text-decoration: none; }

.course_forms {
  border: 0px;
  margin: 20px; }

.course_image {
  width: 100%; }

.course_body {
  margin: 0px 20px; }

.course_button {
  background-color: 0; }

@media (min-width: 800px) {
  .course_wrapper {
    display: grid;
    grid-template-columns: repeat(58px);
    column-gap: 20px;
    grid-template-rows: 50px 50px;
    margin: 20px;
    margin-bottom: 150px; }
  .course_header {
    grid-column-start: 1;
    grid-row-start: 1; }
  .course_text {
    grid-column-start: 1;
    grid-row-start: 2; }
  .course_image {
    grid-column-start: 2;
    grid-row-start: 1; }
  .course_forms_wrapper {
    display: grid;
    grid-template-columns: repeat(58px);
    column-gap: 20px; }
  .course_forms_wrapper1 {
    grid-column-start: 1;
    grid-row-start: 1; }
  .course_forms_wrapper2 {
    grid-column-start: 2;
    grid-row-start: 1; } }
